
.btn {
    
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-contact {
    padding: 8px 20px;
    display:'inline';
}
.btn-primary {
    background-color: rgb(87, 151, 93);
    color: rgb(70, 65, 65);
    padding: 8px 20px;
    font-size: 20px;
    height: 80px;
    width: 60%;
    border: none;
    border-radius: 10px;
}

.btn-primary:hover{
    background:rgb(102, 103, 105);
    color: rgb(43, 40, 40);
    transition: all 0.3s ease-out;
}
.btn-name {
    font-size: 25px;
}
.btn-text {
    display:'inline';
    font-size: 15px;
}